In [3]:
# Import Dependencies
import pandas as pd
import numpy as np

In [286]:
# Create reference to CSV file
csv_path = "Resources/purchase_data.csv"

# Import the CSV into a pandas DataFrame
p_data = pd.read_csv(csv_path, low_memory=False)
p_data.head()

7

In [21]:
#Get Player COunt
player_count = len(p_data['SN'].unique())
print(f"Player Count: {player_count}")

Player Count: 576

In [41]:
#Purchasing Analysis (Total)
unique_items = len(p_data['Item Name'].unique())
average_pr_price = '${:,.2f}'.format(p_data['Price'].mean())
purchase_count = len(p_data)
total_revenue = '${:,.2f}'.format(p_data['Price'].sum())

print(f"Unique Items: {unique_items}")
print(f"Average Purchase Price: {average_pr_price}")
print(f"Total Purchases: {purchase_count}")
print(f"Total Purchases: {total_revenue}")

Unique Items: 179
Average Purchase Price: $3.05
Total Purchases: 780
Total Purchases: $2,379.77

In [235]:
#Gender Demographics

grouped= p_data.groupby('Gender').SN.nunique()
grouped.head()
grouped= pd.DataFrame(grouped)
grouped = grouped.rename(columns={'SN': 'Count'})
grouped['Percentage'] = grouped['Count'].astype('float')/grouped['Count'].sum()*100
grouped

                       Count  Percentage
Gender
Female                    81   14.062500
Male                     484   84.027778
Other / Non-Disclosed     11    1.909722

In [285]:
#Purchasing Analysis
pA = p_data.groupby("Gender").agg({"Price": np.sum, "SN": pd.Series.nunique})
pA = pA.rename(columns={"SN": 'Purchase Count', "Price": "Total Purchase Value"})
pA['Average Purchase Price']= pA['Total Purchase Value']/pA['Purchase Count']
pA

,Total Purchase Value,Purchase Count,Average Purchase Price
Gender,,,
Female,361.94,81,4.468395
Male,1967.64,484,4.065372
Other / Non-Disclosed,50.19,11,4.562727

In [ ]:
# Create bins in which to place values based upon TED Talk views
bins=[0, 10, 21, 31,  100]
# Create labels for these bins
gnames=['< 10 Years Old','10 - 20', '21-30','30 and Above']