In [3]:
# Import Dependencies
import pandas as pd
import numpy as np

In [34]:
# Create reference to CSV file
csv_path = "Resources/purchase_data.csv"

# Import the CSV into a pandas DataFrame
p_data = pd.read_csv(csv_path, low_memory=False)

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [21]:
#Get Player COunt
player_count = len(p_data['SN'].unique())
print(f"Player Count: {player_count}")

Player Count: 576

In [30]:
#Purchasing Analysis (Total)
unique_items = len(p_data['Item Name'].unique())
average_pr_price = p_data['Price'].mean()
average_pr_price = '${:,.2f}'.format(average_pr_price)
print(f"Unique Items: {unique_items}")
print(f"Average Purchase Price: {average_pr_price}")

Unique Items: 179
Average Purchase Price: $3.05